.Checkbox {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}


.input {
  display: none;
}

.indicator {
  width: 15px;
  height: 15px;
}

.indicatorChecked {
  background-color: #b02835;
}

.indicatorUnchecked {
  border: 1px solid #333;
}
